// Colors
$color-purple: #702e7d;
$color-gray-dark: #383531;
$color-gray-light: #dedede;
$color-green: #898b51;
$color-yellow: #f7a03b;

// Fonts
$font-title: 'Oswald', sans-serif;
$font-main: 'Open Sans', sans-serif;
$font-awesome: FontAwesome;

// Grid
$media-desktop-sm: 1024px;
$media-tablet: 767px;
$media-mobile: 480px;